body { 
  background: linear-gradient(to right, #ffffff 0%, #f2eecd 100%);
  display: flex;
    flex-direction: column;
    align-items: center;
   height: 500px;
    margin: 0;
  }
  
  .header {
    width: 100%;
  background: linear-gradient(to right, #ffffff 11%, #1e1e1e 64%);
    color: rgba(255, 255, 255, 0.811);
    text-align: center;
    padding:0px;
    margin: 0px;
    position: relative;
  }

   
     .topnav-right a {
       float: right;
       color: #070707;
       text-align: center;
       padding: 15px;
       padding-top: 5px;
       font-size: 20px;
     }
  
  .header-logo {
    position: absolute;
    bottom: 0;
    left: 23px; 
  margin : 11px;
  }
  

  .myDiv {
    background: linear-gradient(to right, #ffffff 0%, #f2eecd 100%);
    display: flex;
    flex: 1;
    padding: 50px;
   padding-left: 70px ;
    background-color: #f0f0f0;
    align-items: top;
    cursor: pointer;
    height: 600px;
  }

  
 
  .projectImage {
    float: left;
   padding: 15px;
  }


  .text h2 {
    font-size: 16px;
  }

  .text p {
    margin-right: 10px;
    font-size: 16px;
    width: 550px;
  
}

    
  div {
    padding: 10px; 

  }

  button {
    margin-top: 10px;
    border-radius: 6px;
    padding: 6px 12px;
    background-color: #414549;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .flex-container button {
    margin: 0px;
    border-radius: 6px;
    padding: 6px 12px;
    background-color: #e6d7ad;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  
  button:hover {
    background-color: #ffffff;
  }
  

  
  .menu a:hover {
    text-decoration:underline;
  }


