body { 
  background-image: radial-gradient(closest-side at 50% 25%, #ffffff, #1e1e1e );
 /*background-image: linear-gradient( #1e1e1e -4%,#ffffff 24%,#1e1e1e 100%);*/
  display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
  }

  .topnav {
 width: 100%;
  /*background-image: linear-gradient(to right, #ffffff 19%, #1e1e1e 64%);*/
  background-color: #f2eecd;
  padding-top: 50px;
  padding-bottom: 90px;
  }

  .topnav a {
    float: left;
    color: #070707;
    text-align: center;
    padding: 0px 25px;
    padding-top: 5px;
    font-size: 20px;
  }

  .active-logo{
 margin-left: 23%; /* Move the logo 1/3 away from the left */
  }

  .topnav a:hover {
    padding-bottom: 4px;
    text-shadow: 2px 2px 4px #ffffff;
    color: 8f5757;
  }
  
  .topnav a.active {
    background-color: #6b4d28;
    color: white;
  }
  
  .topnav-right {
    margin-right: 20%; /* Move the menu items 1/4 away from the right */
    padding-top: 10px;
    float: right;
  }


.intro {
  padding-top: 110px;
text-align: center;
}


  .triangle-down {
    margin-left: 48%; /* Move the menu items 1/2 away from the right */
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 42px solid #f2eecd;
  }

  

  .projectImage {
    align-items: center;
   padding: 0px;
  }



    
button:hover {
  background: beige;
  border-color: 0px;
  border-width: 0px;
}
 
p{
  margin: 0px;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
}

h2 {
    font-size: 15px;
padding-top: 0px;
padding-bottom: 0px;
  }
  h4 {
    font-size: 15px;
padding-top: 0px;
padding-bottom: 0px;
  }

img{
  padding-top: 6px;
  padding-right: 7px;
}

